@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --calendar-title: #fae9f1;
    --calendar-day: #526c7e;
    --calendar-bg: #ffffff;
    --calendar-box: #fecdd3;
    --calendar-box-saturday: #93c5fd;
    --calendar-box-sunday: #fb7185;
    --calendar-box-selected: #7f1d1d;
    --calendar-number: #881337;
    --calendar-number-selected: #ffffff;
    --calendar-saturday: #fb7689;
    --calendar-saturday-number: #93c5fd;
    --calendar-sunday: #be123c;
    --calendar-sunday-number: #be123c;
    --primary: #fb7185;
    --secondary: #fecdd3;
    --shadow: #ffffff;
  }

  .p3 {
    --text: #152e5c;
    --calendar-title: #c7e3f9;
    --calendar-day: #012840;
    --calendar-bg: #8bc6fb;
    --calendar-box: #2490f9;
    --calendar-box-saturday: #3b69fe;
    --calendar-box-sunday: #cea898;
    --calendar-box-selected: #012840;
    --calendar-number: #646d74;
    --calendar-number-selected: #f4a4bc;
    --calendar-saturday: #526c7e;
    --calendar-saturday-number: #3e6dfd;
    --calendar-sunday: #904057;
    --calendar-sunday-number: #904057;
    --primary: #2490f9;
    --secondary: #6cb0f9;
    --shadow: #bedff5;
  }

  .p4 {
    --text: #222325;
    --calendar-title: #fd066c;
    --calendar-day: #f9fe84;
    --calendar-bg: #fe8400;
    --calendar-box: #ffff85;
    --calendar-box-saturday: #b0e8ff;
    --calendar-box-sunday: #ffdeb8;
    --calendar-box-selected: #111c27;
    --calendar-number: #ffff85;
    --calendar-number-selected: #ffffff;
    --calendar-saturday: #f9fe84;
    --calendar-saturday-number: #b0e8ff;
    --calendar-sunday: #f9fe84;
    --calendar-sunday-number: #ffdeb8;
    --primary: #fe8101;
    --secondary: #fef91b;
    --shadow: #fe8101;
  }

  .p4_header {
    background: url("/p4-header.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }

  .p5 {
    --text: #000000;
    --calendar-title: #232323;
    --calendar-day: #cdcdcd;
    --calendar-bg: rgba(0, 0, 0, 0);
    --calendar-box: #ffff85;
    --calendar-box-saturday: #b0e8ff;
    --calendar-box-sunday: #ffdeb8;
    --calendar-box-selected: #cd0000;
    --calendar-number: #cdcdcd;
    --calendar-number-selected: #080000;
    --calendar-saturday: #cdcdcd;
    --calendar-saturday-number: #00c0cc;
    --calendar-sunday: #cdcdcd;
    --calendar-sunday-number: #cd0000;
    --primary: #ffffff;
    --secondary: #080000;
    --shadow: #080000;
  }
}